<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RetryFailedTestSuite" verbose="1" >
 <listeners>
        <listener class-name="com.apex.analyzer.MyTransformer"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.apex.testCases.CashDrawerMaintenance"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
